<!----------------main page------------->
    <div class="main" ng-controller="mainController">                          <!----define controller----->
        
        <div class="ui container">
            <div class="hero">
                <p>Find the best restaurants in town</p>
            </div>
				<div class="search-bar">
					<form>
					<div class="input-wrapper">
					  <input type="text" class="form-control" placeholder="Search..." ng-model="query">
					</div>
					<button type="submit" class="btn btn-default">Search</button>
				  </form>
				</div>
			<div ng-repeat="restaurant in restaurants | filter:query" class="restaurant">
				<div class="rest-wrapper">
					<img src="{{restaurant.image}}" height="100" width="100">
						<img src="{{restaurant.image}}" height="100" width="100">
					</div>
					<div class="rest-info">
						<div class="rest-category">
						   <small>{{restaurant.category}} </small>
						</div>
						<div class="rest-name">
						<a ng-href="#!/restaurant/{{restaurant.id}}"><strong>{{restaurant.name}}</strong></a>
						</div>
						<div>
						   <strong> {{restaurant.location}}</strong>
						</div>
						<div class="rest-address">
							{{restaurant.address}}
						</div>
					</div>
				</div>
				<div class="rest-extra">
					<div class="type">
						<div><small>Cuisines:</small></div>
						<div><small>Cost for Two: </small></div>
						<div><small>Hours:</small></div>
					</div>
					<div class="value">
					<div>{{restaurant.cuisines}}</div>
					<div>₹{{restaurant.cost | number}}</div>
					<div>{{restaurant.hours}}</div>
					</div>
				</div>
				<div class="rating">
					<strong>{{restaurant.vote}}</strong>
				</div>
			</div>
        </div>
    </div>